[Unit]
Description=MemsGames Bot Service
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/memsGames
Environment="PATH=/var/www/memsGames/.venv/bin"
Environment="BOT_TOKEN=7721865202:AAEZITE5V5Vp6BtmitdlhtdBKwqJKSTiiN0"
Environment="CHAT_ID=-1002188780169"
ExecStart=/var/www/memsGames/.venv/bin/python /var/www/memsGames/main.py
Restart=always
StandardOutput=journal
StandardError=journal
SyslogIdentifier=MemsGames-bot

[Install]
WantedBy=multi-user.target